/* html, body {height:100%;} */

.App {
  text-align: center;
  font-weight: 400;
  font-size: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#root{
  background-color: #61dafb;
  display: flex;
  min-height: 100%;
  color: rgb(48, 48, 48)
}

.button{
  background-color: #ffff00;
  height: 60px;
  line-height: 40px;
  width: 200px;
  border-radius: 20px;
}

.confirm{
  display:block;
  color: red;
  margin: 0 auto;
}

.form{
  margin: 10px auto;
  border: 1px yellow solid;
  font-size: 25px;
  border-radius: 20px;
  width: 300px;
}
.rules{
  max-width: 900px;
  margin: 30px auto;
  font-size: 35px;
}

.result{
  display: inline;
  font-size: 60px;
}
.form-item{
  display: block;
  padding: 10px;
}

.data{
  font-size: 20px;
}

h2{
  font-size: 30px;
}

.select-css { 
  display: block; 
  font-size: 22px; 
  font-family: 'Caveat', cursive; 
  font-weight: 700; 
  color: #444; 
  padding: 10px;
  width: 100%; 
  max-width: 100%; 
  border-radius: 10px;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
  background-color: #fff; 
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
  background-repeat: no-repeat, repeat;
  background-position: right 18px top 50%, 0 0;
  background-size: 12px auto, 100%; 
  } 

  .select-css::-ms-expand { display: none; } 

  .preloader{
    max-width: 100%;
  }

.nav{
      display: flex;
      justify-content: space-around;
      font-size: 30px;
      margin: 30px;
      width: 100%;
      text-decoration: underline;
      flex-wrap: wrap;
    }

.link:hover{
  color: #ffff00;
}

.reset{
  font-size: 25px;
  max-width: 900px;
  margin: 10px auto;
}

footer{
  margin-top: 50px;
  font-size: 14px;
}